@model puck.areas.admin.ViewModels.Section
@{
    ViewBag.Title = "Section";
    var pages = Model.Children<puck.areas.admin.ViewModels.Page>();
    var descendants = Model.Descendants<puck.areas.admin.ViewModels.Page>();
    
    var qh = new QueryHelper<puck.core.Base.BaseModel>();
    qh.And().Range(x => x.Updated, 20130712112820,20130712112833, true, true);
    var results = qh.GetAll();
    @("rangequery:"+results.Count);
}    

@("children:"+pages.Count)
@("descendants"+descendants.Count)

<h2>Section</h2>
@foreach (var p in pages) { 
    <h1>@p.Title</h1>
    <time>@p.Updated</time>
    <div>
        <img alt="@p.Title" src="@p.Image.Path"/>
    </div>
    <div>
        @Html.Raw(p.MainContent)
    </div>
    <div><a href="@p.Url()">more</a></div>
}