@model puck.core.Models.RevisionCompare
@{
    Layout = null;    
}
<div class="compare">
    @if (Model == null || Model.Revision == null || Model.Current == null)
    {
    <div class="grid_10 push_1">
        Model is null.
    </div>
    }
    else
    {
    <div class="grid_5 push_1">
        <span>Current - @Model.Current.Updated</span>
        @Html.DisplayFor(x => x.Current)
    </div>

    <div class="grid_5 push_1">
        <span>Revision @Model.Revision.Revision - @Model.Revision.Updated</span>
        @Html.DisplayFor(x => x.Revision)
    </div>
    <p>
        <button data-id="@Model.RevisionID" class="btn btn-link revert">Revert</button>        
    </p>
    }
</div>