@model puck.areas.admin.Models.Person

<div class="editor-label" style="">
    @Html.LabelFor(x=>x.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(x=>x.Name)
    @Html.ValidationMessageFor(x=>x.Name, "*")
</div>            

<div class="editor-label" style="">
    @Html.LabelFor(x=>x.Age)
</div>
<div class="editor-field">
    @Html.EditorFor(x=>x.Age)
    @Html.ValidationMessageFor(x=>x.Age, "*")
</div>