@model List<puck.core.Models.PuckPicker>

@{
    var settings = this.PuckEditorSettings<puck.core.Models.PuckPickerEditorSettings>()
        ??new puck.core.Models.PuckPickerEditorSettings(){
            AllowDuplicates=false,AllowUnpublished=true,MaxPick=2,SelectionType="both",StartPath=null
        };
    var startPath = "/";
}
<div class="puckpicker puckpicker_@ViewData.ModelMetadata.PropertyName">
    <ul class="content nomenu">
        <li class="node" data-children_path="/"></li>
    </ul>        
    <div class="selected_content">
        @if (Model != null)
        {
            foreach (var m in Model)
            {
                if (!string.IsNullOrEmpty(m.Variant))
                {
                    var nodes =puck.core.Constants.PuckCache.PuckRepo.GetPuckRevision().Where(x=>x.Id==m.Id).ToList(); 
                    var node = nodes.Where(x => x.Variant.ToLower().Equals(puck.core.Constants.PuckCache.SystemVariant.ToLower())).FirstOrDefault()??nodes.FirstOrDefault();
                    if (node != null)
                    {
                    <div class="selected_node" data-variant="@m.Variant" data-id="@m.Id">
                        <span>@node.NodeName</span>&nbsp; - &nbsp;<span>@m.Variant</span>&nbsp;
                        <i class='icon-remove-sign'></i>
                    </div>
                    }
                }
                else
                {
                    var node = puck.core.Constants.PuckCache.PuckRepo.GetPuckRevision().Where(x=>x.Id==m.Id && x.Variant.ToLower().Equals(m.Variant.ToLower())).FirstOrDefault();
                    if (node != null)
                    {
                    <div class="selected_node" data-variant="null" data-id="@m.Id">
                        <span>@node.NodeName</span>&nbsp;
                        <i class='icon-remove-sign'></i>
                    </div>
                    }
                }
            }
        }
    </div>
</div>
<script type="text/javascript">
    onAfterDom(function () {
        var propname = "@ViewData.ModelMetadata.PropertyName";
        var container = $(".puckpicker_" + propname);
        var selected_container = container.find(".selected_content");
        var selected_content = function () { return selected_container.find(".selected_node"); }
        var startPath = "@startPath";
        var maxPick = "@settings.MaxPick";
        var selectionType = "@settings.SelectionType"; //both|variant|node
        var allowUnpublished = "@settings.AllowUnpublished";
        var allowDuplicates = "@settings.AllowDuplicates";

        var setValue = function () {
            container.find(":hidden").remove();
            selected_content().each(function (i) {
                var node = $(this);
                container.append(
                    "<input type='hidden' name='" + propname + "[" + i + "].Id' value='" + node.attr("data-id") + "'/>"
                    + "<input type='hidden' name='" + propname + "[" + i + "].Variant' value='" + node.attr("data-variant") + "'/>"
                );
            });
        }
        setValue();
        el = container.find(".node[data-children_path='/']");
        getDrawContent(startPath, el);
        selected_container.on("click", "i", function (e) {
            $(this).parent().remove();
            setValue();
        });
        container.on("click", ".node span", function (e) {
            var clicked = $(this);
            var node = clicked.parent();
            var isVariantSelection = clicked.hasClass("variant");

            if (selected_content().length >= maxPick) {
                return false;
            }

            if (node.attr("data-published") == "false" && !allowUnpublished) {
                return false;
            }

            if (selected_content().filter("[data-id='" + node.attr("data-id") + "']").length > 0 && !allowDuplicates) {
                return;
            }

            if (isVariantSelection && (selectionType == "variant" || selectionType == "both")) {
                selected_container.append(
                    "<div class='selected_node' data-variant='" + clicked.attr("data-variant") + "' data-id='" + node.attr("data-id") + "'><span>"
                    + node.attr("data-nodename") + "</span>&nbsp; - &nbsp;<span>" + clicked.attr("data-variant") + "</span>&nbsp;<i class='icon-remove-sign'></i></div>"
                );
            } else if (!isVariantSelection && (selectionType == "node" || selectionType == "both")) {
                selected_container.append(
                    "<div class='selected_node' data-variant='null' data-id='" + node.attr("data-id") + "'><span>" + node.attr("data-nodename") + "</span>&nbsp;<i class='icon-remove-sign'></i></div>"
                );
            }
            setValue();
        });
    });    
</script>