@model List<string>
<div class="cachepolicy cachepolicy_@ViewData.ModelMetadata.PropertyName">
@{
    var models = ApiHelper.Models(true);
    <table>
    <tr>
        <td>Model Type</td>
        <td>Cache Minutes</td>
        <td></td>
    </tr>
    <tr>
        <td>
            <select>
            @foreach(var m in models){
                <option value="@m.AssemblyQualifiedName">@m.FullName</option>
            }
            </select>
        </td>
        <td><input type="number" class="minutes" /></td>
        <td><button>set</button></td>
    </tr>
    </table>
    <table>
        <tr><td>Model Type</td><td>Cache Minutes</td></tr>
        @foreach(var m in Model){
            try{
            var kvp = m.Split(new char[]{':'},StringSplitOptions.RemoveEmptyEntries);
            <tr class="entry"><td data-type="@kvp[0]">@Type.GetType(kvp[0]).FullName</td><td data-minutes="@kvp[1]">@kvp[1]</td></tr>
            }catch(Exception ex){
                @ex.Message <text>-</text> @m
            }
        }
    </table>
}
</div>
<script type="text/javascript">
    onAfterDom(function () {
        var propertyName = "@ViewData.ModelMetadata.PropertyName";
        var container = $(".cachepolicy_" + propertyName);
        var sel = container.find("select");
        var input = container.find("input");
        var btn = container.find("button");
        var table = container.find("table:last");

        sel.change(function (e) {
            var td = table.find("[data-type='" + sel.val() + "']");
            if (td.length > 0) {
                input.val(td.parents("tr:first").find("[data-minutes]").html());
            } else {
                input.val("0");
            }
        });

        var setValue = function () {
            container.find("input:hidden").remove();
            table.find("tr.entry").each(function () {
                var type = $(this).find("td:first").attr("data-type");
                var minutes = $(this).find("td:last").html();
                container.append(
                    "<input type='hidden' name='" + propertyName + "' value='" + type + ":" + minutes + "'/>"
                );
            });
        }

        btn.click(function (e) {
            e.preventDefault();
            if (isNullEmpty(input.val()) || !isInt(input.val()))
                return;
            var td = table.find("td[data-type='" + sel.val() + "']");
            if (td.length > 0) {
                td.parents("tr:first").find("td:last").html(input.val());
            } else {
                table.append(
                    "<tr class='entry'><td data-type='" + sel.val() + "'>" + sel.find(":selected").html() + "</td><td>" + input.val() + "</td></tr>"
                );
            }
            setValue();
        });
        setValue();
    });
</script>